@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Poppins&display=swap');

.cabecalho__titulo {
    align-items: center;
    display: flex;
    font-family: 'Poppins', sans-serif;
    font-size: 48px;
    font-weight: 700;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);;
}

.cabecalho__titulo--azul {
    color: #6C63FF;
}

@media screen and (min-width: 0) {
    .cabecalho__titulo {
        margin-top:0;
    }
}

