@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Poppins&display=swap');

.formulario__container--mensagem {
    border: 2px solid black;
    border-radius: 5px;
    display: flex;
;
}

.formulario__mensagem {
    align-items: center;
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    font-weight: 700;
    margin: 2.5rem;
}

@media screen and (min-width: 0) {
    .formulario__mensagem {
        height: 30%;
        width: 70%;
    }

    .formulario__form {
        align-items: center;
    }
}

@media screen and (min-width: 768px) {
    .formulario__mensagem {
        width: 100%;        
    }
    .formulario__container--mensagem {
        width: 60%;
    }
}