.principal__imagem {
    background-image: url(../../image/illustration.png);
    background-repeat: no-repeat;
    background-size: contain;
;
}

@media screen and (min-width: 0) {
    .principal__imagem {
        height: 300px;
        width: 90%;
        background-size: contain;
        margin: 0 auto;
    }
}

@media screen and (min-width: 768px) {
    .principal__imagem {
        height: 600px;
        width: 620px;
        margin: 0
    }
}